
@{
    ViewData["Title"] = "Thông tin nhân viên";
}

<h1>Thông tin nhân viên</h1>

<table id="tbl" class="table table-bordered table-hover">
    <thead class="thead-dark">
    </thead>
    <tbody>
    </tbody>
</table>

@section css{
    <link href="~/lib/node_modules/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/js/Manager/Information.js"></script>
}